@import url(https://fonts.googleapis.com/css?family=Quicksand|Raleway);

#apiEnquiryForm , #apiEnquiryForm2 , #apiEnquiryForm3 {
	margin:0px;
	font-family: chypre-condensed, sans-serif;
	font-size:1em;
	padding-top: 0px;
	padding-bottom: 0px;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
	border-radius:0px;
	background-color:#fff;
	color: #FFF;
	margin-left: 5%;
	margin-right: 5%;
}

#apply-form label {
	background-color: #FFF;
}
#apiEnquiryForm * , #apiEnquiryForm3 * , #apiEnquiryForm2 * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#apiEnquiryForm label, #apiEnquiryForm2 label , #apiEnquiryForm3 label {
	display: block;
	font-family: chypre-condensed, sans-serif!important;
	font-weight: 400!important;
	margin-top: 20px;
}

#apiEnquiryForm label.radio , #apiEnquiryForm2 label.radio , #apiEnquiryForm3 label.radio {
	display: inline;
	text-transform: uppercase;
}

#apiEnquiryForm input[type=text] , #apiEnquiryForm select , #apiEnquiryForm textarea, #apiEnquiryForm2 input[type=text] , #apiEnquiryForm2 select , #apiEnquiryForm2 textarea , #apiEnquiryForm3 input[type=text] , #apiEnquiryForm3 select , #apiEnquiryForm3 textarea  {
	width:100%;
	padding: 0 10px;	
	border-width: 0px;
	font-size: 0.9em;
}
input[type="text"]:focus {
	border-color: #4c6876 !important;}
#apiEnquiryForm input[type="text"]:focus , #apiEnquiryForm2 input[type="text"]:focus , #apiEnquiryForm3 input[type="text"]:focus{
border-color: #316282 !important;
}
#apiEnquiryForm input[type=text]:focus , #apiEnquiryForm2 input[type=text]:focus , #apiEnquiryForm3 input[type=text]:focus {
border-color: #316282 !important;
}
#apiEnquiryForm input[type=text]:focus , #apiEnquiryForm2 input[type=text]:focus , #apiEnquiryForm3 input[type=text]:focus{
    border-color: #316282 !important;
    background-image: url(/Images/Ok_icon.png);
    background-repeat: no-repeat;
    background-position: 95%;
}
#apiEnquiryForm select , #apiEnquiryForm2 select , #apiEnquiryForm3 select {
	-moz-appearance: none;
 	-webkit-appearance: none;	
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

#apiEnquiryForm input.postCode , #apiEnquiryForm2 input.postCode, #apiEnquiryForm3 input.postCode{
	width:100%;
}

#apiEnquiryForm select.landLineNumberAreaCode, #apiEnquiryForm2 select.landLineNumberAreaCode , #apiEnquiryForm3 select.landLineNumberAreaCode{
	width:25%;
}

#apiEnquiryForm input.landLineNumber , #apiEnquiryForm2 input.landLineNumber, #apiEnquiryForm3 input.landLineNumber{
	width:70%;
	float:right;
}

#apiEnquiryForm select.state , #apiEnquiryForm2 select.state , #apiEnquiryForm3 select.state{
	width:100%;
}

#apiEnquiryForm textarea ,  #apiEnquiryForm2 textarea , #apiEnquiryForm3 textarea {
	height:50px;
	padding: 5px 10px
}

#apiEnquiryForm input[type=button] , #apiEnquiryForm2 input[type=button] , #apiEnquiryForm3 input[type=button] {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aad75b', endColorstr='#d1e990');
    background-color: #F7923A !important;
    border-radius: 10px !important;
    color: #ffffff !important;
    font-size: 1.2em !important;
	letter-spacing: 1px;
    height: 43px !important;
    line-height: 40px !important;
    padding: 0 !important;
    border: 0;
    box-shadow: none!important;
    cursor: pointer;
    outline: 0 none;
    overflow: hidden;
    position: relative!important;
    text-align: center;
    text-shadow: none;
    width: 94%;
	margin: 5px 3%;
    bottom: 0 !important;
    text-transform: uppercase !important;
	font-family: chypre-condensed, sans-serif;
	font-weight: 500;
	text-decoration: none;
}

#apiEnquiryForm input[type=button]:hover , #apiEnquiryForm2 input[type=button]:hover , #apiEnquiryForm3 input[type=button]:hover{
	background-color: #219e93 !important;
	text-decoration: none;
}
#apiEnquiryForm input[type=button]:active , #apiEnquiryForm2 input[type=button]:active , #apiEnquiryForm3 input[type=button]:active{
	position:relative;
	top:1px;
}


#apiEnquiryForm p.api-post-failed , #apiEnquiryForm2 p.api-post-failed , #apiEnquiryForm3 p.api-post-failed {
	color: #F7923A;
	font-family: chypre-condensed, sans-serif;
	font-weight: 500;
}

#apiEnquiryForm p.api-post-success , #apiEnquiryForm2 p.api-post-success , #apiEnquiryForm3 p.api-post-success{
}

@media (max-width: 220px) {
	#apiEnquiryForm select.state , #apiEnquiryForm2 select.state , #apiEnquiryForm3 select.state{
		width:100% !important;
	}	
	#apiEnquiryForm input.postCode , #apiEnquiryForm2 input.postCode , #apiEnquiryForm3 input.postCode {
		width:100% !important;
	}
	#apiEnquiryForm select.landLineNumberAreaCode , #apiEnquiryForm2 select.landLineNumberAreaCode , #apiEnquiryForm3 select.landLineNumberAreaCode{
		width:30% !important;
	}
	#apiEnquiryForm input.landLineNumber , #apiEnquiryForm2 input.landLineNumber , #apiEnquiryForm3 input.landLineNumber {
		width:65% !important;
	}

}

@media (max-width: 166px) {
	#apiEnquiryForm select.landLineNumberAreaCode , #apiEnquiryForm2 select.landLineNumberAreaCode , #apiEnquiryForm3 select.landLineNumberAreaCode {
		width:100% !important;
	}	
	#apiEnquiryForm input.landLineNumber , #apiEnquiryForm2 input.landLineNumber , #apiEnquiryForm3 input.landLineNumber {
		float:none !important;
		width:100% !important;
	}
	#apiEnquiryForm select.state , #apiEnquiryForm2 select.state , #apiEnquiryForm3 select.state {
		width:100% !important; 
	}
	#apiEnquiryForm input.postCode , #apiEnquiryForm2 input.postCode , #apiEnquiryForm3 input.postCode {
		width:100% !important;
	}	
}
.squaredFour {
	width: 100%;
	margin: 20px auto;
	position: relative;
	text-align: center;
}

.squaredFour label {
	display: inline-block !important;
	margin-top: 4px !important;		
	margin-bottom: -13px;
	cursor: pointer !important;
	width: 20px !important;
	height: 30px !important;
	background-image: url(/Images/TC-icon.png) !important;
	background-repeat: no-repeat !important;
}

.squaredFour input[type=checkbox]:checked + label{
	background-image: url(/Images/TC-icon_checked.png) !important;
}

.squaredFour label:hover::after {
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)' !important;
	filter: alpha(opacity=30) !important;
	opacity: 0.5 !important;
}

.squaredFour input[type=checkbox]:checked + label:after {
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)' !important;
	filter: alpha(opacity=100) !important;
	opacity: 1;
}
.squaredFour p{
	display: inline;
}

#apiEnquiryForm label, #apiEnquiryForm input, #apiEnquiryForm select {
	display: block;
	text-align: center;
	font-family: chypre-condensed, sans-serif;
	font-weight: 400;
font-size: 1.1em;
	width: 100%;

}

#apiEnquiryForm input, #apiEnquiryForm select, textarea {
	color:#0F2E30;
	background: #F5F3F2;
	border-width: 0px;
border-color:#86888A;
	border-radius: 6px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.07) inset!important;
	box-shadow: 0 1px 0 rgba(0,0,0,0.07) inset;
	margin-bottom: 30px;
}

#apiEnquiryForm input, #apiEnquiryForm select, textarea {
	height: 35px;
	font-family: lora, serif;
	font-weight: 400;
	font-style: normal; 
	font-size: 0.87em;
	color: #224E54!important;;
	background: #F5F3F2!important;
	border-width: 0px!important;
border-color:#86888A!important;
	border-radius: 6px;
	margin: 0;
	outline: 0;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.07) inset!important;
	box-shadow: 0 1px 0 rgba(0,0,0,0.07) inset;
	margin-bottom: 30px;

}

#apiEnquiryForm select {
	text-align: center;
	text-align-last: center;
 }

#apiEnquiryForm input::placeholder, #apiEnquiryForm select option {
	color: #224E54;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	text-align:-moz-center;
    text-align:-webkit-center;
}

#apiEnquiryForm p, #error_message { 
	background-color:#FFFFFF!important;
	padding: 0 25px;
	color: #224E54;
	text-align: center;
	font-family: chypre-condensed, sans-serif!important;
	font-weight: 400!important;
font-size: 1.1em!important;
}

#error_message {
	display: none!important;
}

input[type="button" i] {
    user-select: none;
    white-space: pre;
    cursor: default;
    color: #FFF;
    background-color: #F7923A;
    box-sizing: border-box;
    padding: 10px 20px;
    border-width: 0px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: chypre-condensed, sans-serif;
	font-size: 21px;
	letter-spacing: 1px;
}

.switch-title {
	font-family: chypre-condensed, sans-serif;
	font-weight: 400;
	color: #FFF;
	padding: 0 25px;
	
}

.switch-field label {
	background-color: #a2ced4;	
}

.switch-buttons {
	text-align: center;
	display: block;
    width: 100%;
}

.switch-buttons-yes, .switch-buttons-no {
    width: 100px;
    display: inline-block;
    padding: 0 5px;
}

.switch-buttons-yes {
	text-align: right;
}
.switch-buttons-no {
	text-align: left;
}

.switch-field label:first-of-type, .switch-field label:last-of-type {
	border-radius: 5px!important;
	background-color: #F7923A !important;
	font-weight: 500!important;	
}

.nocreaitimapct {
	padding-top: 0px!important;
	color: #224e54;
    text-align: center;
    background-color: #FFFFFF;
    border-top: 0px;
	padding-bottom: 30px;
	width: 90%;
	margin-left: 5%;
    margin-right: 5%;
}

.nocreaitimapct img {
	display:none;
}
 

.switch-field label {
	background-color: #e4e4e4 !important;
	color: #FFF;
	font-size: 1em;
	font-weight:500;
	text-align: center !important;
	text-shadow: none !important;
	padding: 6px 14px !important;	
	-webkit-transition: all 0.1s ease-in-out !important;
	-moz-transition:    all 0.1s ease-in-out !important;
	-ms-transition:     all 0.1s ease-in-out !important;
	-o-transition:      all 0.1s ease-in-out !important;
	transition:         all 0.1s ease-in-out !important;
  }

.comments-section {
    margin-top: 20px;
}

#apiEnquiryForm fieldset:not(:first-of-type) {
display: none;
}

.squaredFour {
    width: 100%;
    margin: 20px auto;
    position: relative;
}

.squaredFour input[type=checkbox]:checked + label{
	background-image: url(http://www.staging.australianlendingcentre.com.au/wp-content/uploads/2017/06/TC-icon_checked.png);
}

.squaredFour label:hover::after {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
    filter: alpha(opacity=30);
    opacity: 0.5;
 }

.squaredFour input[type=checkbox]:checked + label:after {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    filter: alpha(opacity=100);
    opacity: 1;
}

.squaredFour p{
    display: inline; 
}

.hidden{
    display:none;
}

.switch-field {
    overflow: hidden;
    margin-bottom: 10px;
}

.switch-title {
  	margin-bottom: 6px;
	color: #224E54;
	font-size: 1.1em
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  	float: left !important;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  	background-color: #219E93 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	color: white !important;
}

fieldset {
	border: 0;
}

.state-postcode-wrapper {
    padding: 0 25px;
}

.state-postcode-wrapper p {
	margin-bottom: 5px!important;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.field-required {
    border: F7923A 2px solid!important;
	font-size: 0.9em;
	text-transform:capitalize;
}